* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s all ease-in-out;
}

img {
    width: 100%;
}

body {}

a {
    text-decoration: none;
}

.container {
    padding: 100px 100px;

    &__title {
        width: 50vw;
    }

    &__article {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        position: relative;
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 157px;

        &-article {
            width: 50%;
            max-width: 443px;
        }
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            display: flex;
            flex-direction: column;
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-img {}
    }

    &__splashi {
        display: flex;
        justify-content: center;
    }
}

.hero-img {
    width: 551px;
    height: 425px;
    padding: 0 100px;
}

.splash-img {
    width: 1007px;
    height: 904.79px;
}

.content-img {
    width: 507px;
    height: 722px;
}

.nine {
    width: 62.2px;
    height: 97px;
    position: absolute;
    bottom: 99px;
    left: 905px;
}

.twenty-three {
    width: 121.49px;
    height: 99px;
    position: absolute;
    top: 230px;
    left: 302px;

}

.smile-img {
    width: 1060px;
    height: 763px;
}

.article {
    padding: 30px 0;
    max-width: 535px;
    line-height: 38px;
}

.zero-sign {
    opacity: 50%;
}

.text {
    margin-left: -50px;
}

.bottom-text {
    padding: 50px 0;
    display: flex;
    gap: 40px;
}

.h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 140px;
    line-height: 106.2%;
    letter-spacing: 0.01em;

    color: #4F6A7D;
}

.h2 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 180.501px;
    line-height: 238px;
    letter-spacing: -0.01em;

    color: #8B6464;
}

.h3 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 47.1579px;
    line-height: 50px;
    color: #4F6A7D;
}

.h4 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #4F6A7D;

    &--min {
        max-width: 111px;
        flex-wrap: wrap;
    }

    &--max{
        max-width: 1060px;
    }
}